@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background-color: #552d2d;
    color: white;
    overflow:hidden;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}
main{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main.social-media{
    display: flex;
    align-content: center;
}
main h1{
    color: #fe8f80;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}
main .social-media a{
    text-decoration: none;
}
main .social-media img{
    width: 36px;
    margin-right: 3rem; 
    margin-left: 3rem;
    margin: 2.7vh;
}
main main .social-media a:first-child img{
    margin-left: 0.3rem;
}
main .alternative {
    margin-top: 0.3rem;
}
main .alternative span {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.733) ;
    position: relative;
}
main .alternative span::before, main .alternative span::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 55px;
    background: rgba(255, 255, 255, 0.733) ;
  
}
main .alternative span::after{
    left: 55px;
}
main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main form label {
    display:flex;
    flex-direction: column;
}
main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}
input:focus, textarea:focus {
    border-color: #fc8585;
}
main form input {
    background: #231616 ;
    width: 350px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline:rgb(255, 93, 255);
    color: #f8c5c5;
    font-size: 1rem;
    border: 1px solid #2e0101;
    border-radius: 10px;
}
main form input[type= "submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 3rem;
    border-radius: 30px;
    background: #fc8585;
    color: rgb(90, 52, 1);
    font: 2.9rem;
    transition: all .3s ease-in-out;
}
main form input[type= "submit"]:hover {
    background: #d45263;
}
section.images {
    width: 50vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
}
section.images img {
    width: 120%;
}
section.images .circle{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background: linear-gradient(45deg, #ffcebd, #f86565);
    clip-path: circle(50% at right 75%);
    z-index: -1;
}
@media only screen and (min-width: 768px){
    section.images{
        align-items:center;
        padding: 2rem;
        width: 90vh;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1200px){
    section.images img{
        width: 130%;
    }
    section.images .circle{
        clip-path: circle(45% at right 80%);
    }
}
@media only screen and (max-width: 900px){
    section.images{
        display: none;
        visibility: hidden;
    }
    main{
        width: 100vh;
    }
}
@media only screen and (max-width: 450px){
    main h1{
        font-size: 2.5rem ;
    }

    main .alternative span{
        font-size: 0.8rem;
    }
    main form label span, main form input[type="submit"]{
        font-size: 1rem;
    }
}
@media only screen and (min-width: 644px) {

    main form input[type= "submit"] { 
        margin-top: 2.5rem ;
    }
    main form input {
        margin-top: 0.2rem;
    }
    section.images img{
        width: 90%;
    }
    section.images .circle{
        clip-path: circle(45% at right 60%);
    }
}